<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Restuarants, Prices, Choice... Oh My!</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static',filename='css/style.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/> 
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<style>
h5 {
font-family: 'Lato', sans-serif;
  background-color: white;

}
</style>

</head>
<body>
  <nav class="black" role="navigation">
    
     
      <ul class="left-align">
        <li><a href="/">Home</a></li>
	<li><a href="/api/search">Search</a></li>
      </ul>

  </nav>


    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Restaurant Selector</h1>
        <div class="row center">
          <h4 class="header col s12 light">Finding a place to eat can be hard...</h4>
        </div>
        <div class="row center">
          <a href="/api/search" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>

    </div>
</div>

  
      <div class="container">
        <div class="row center">
          <h4 class="header col s12 light">A restaurant recommender utilizing Yelp's Fusion API</h4>
           </div>
            <img class="responsive-img" src="http://cdn.ttgtmedia.com/ITKE/uploads/blogs.dir/317/files/2016/09/1yelpoewifiuwgf.jpg">
         </div>
        </div> 

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row red">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center green-text"><i class="material-icons">my_location</i></h2>
            <h5 class="center z-depth-5">Search By Location and Term</h5>
            <p> Searching for a place to eat at has never been easier</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">contact_phone</i></h2>
            <h5 class="center z-depth-5">Search By Phone Number</h5>
          <p>Search by restaurant phone number</p>
         </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons">credit_card</i></h2>
            <h5 class="center z-depth-5">Search By Price </h5> 
            <p> Use the price feature to locate restaurants that fit comfortably within your budget. </p>
         </div>
        </div>
      </div>

    </div>
  </div>

 <footer class="page-footer black">
<div class="footer-copyright">
            <div class="container">
            © 2017 Eric Zhou
            </div>
          </div>
        </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ url_for('static',filename='js/materialize.js')}}"></script>
  <script src=""{{ url_for('static',filename='js/init.js')}}""></script>


  </body>
</html>
